{% extends 'base.html' %}
{% block content %}
{% load static %}

		<div class="wrapper" style="background-image: url('{% static 'images/bg-registration-form-1.jpg' %}');">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'images/registration-form-1.jpg' %}" alt="">
				</div>
        <div class="image-holder">
          <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a class="active" href="{% url 'editprofile' %}">Edit Profile</a></li>
            <li><a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                    <form action="{% url 'logout' %}" id="logout" method="POST" style="padding-top:0;">
                      {% csrf_token %}
                      <input type="hidden">
                    </form>
            </li>
          </ul>
    				<form action="{% url 'changepassword' %}" method="POST" style="width:100%;">
    					{% csrf_token %}
    					{% include 'alerts.html' %}
    					<h3>Change Password</h3>
              <input type="hidden" name="user_id" value="{{ user.id }}">
              <div class="form-wrapper">
    						<input type="password" placeholder="Current Password" name="current_password" class="form-control" required>
    						<i class="zmdi zmdi-lock"></i>
    					</div>

    					<div class="form-wrapper">
    						<input type="password" placeholder="New Password" name="new_password" class="form-control" id="txtPassword" required>
    						<i class="zmdi zmdi-lock"></i>
    					</div>
    					<div id="strengthMessage"></div>
    					<div class="form-wrapper">
    						<input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control" required>
    						<i class="zmdi zmdi-lock"></i>
    					</div>
    					<button onclick="return giveAlert()">Update
    						<i class="zmdi zmdi-arrow-right"></i>
    					</button>

    				</form>
        </div>

			</div>
		</div>

{% endblock %}
