{% extends 'base.html' %}

{% block content %}
{% load static %}
  <div class="wrapper" style="background-image: url('{% static 'images/bg-registration-form-1.jpg' %}');">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'images/registration-form-1.jpg' %}" alt="">
				</div>
				<form action="{% url 'forgot_password' %}" method="POST">
          {% csrf_token %}
          {% include 'alerts.html' %}
					<h3 style="text-transform:unset;">Forgot your password?</h3>
          <p>Enter your e-mail address below to begin the process of resetting your password.</p>
          <br>
					<div class="form-wrapper">
						<input type="email" placeholder="Email Address" name="email" class="form-control">

						<i class="zmdi zmdi-email"></i>
					</div>
					<button>Continue
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
          <br><p><a href="{% url 'login' %}">Log in now!</a></p>
          <p>Don't have an account? <span><a href="{% url 'register' %}">Register here</a></span></p>
				</form>
			</div>
		</div>

{% endblock %}
