{% extends 'base.html' %}

{% block content %}
{% load static %}
  <div class="wrapper" style="background-image: url('{% static 'images/bg-registration-form-1.jpg' %}');">
			<div class="inner">
				<div class="image-holder">
					<img src="{% static 'images/registration-form-1.jpg' %}" alt="">
				</div>
				<form action="{% url 'resetpassword' %}" method="POST">
          {% csrf_token %}
          {% include 'alerts.html' %}
					<h3 style="text-transform:unset;">Reset Your Password</h3>
          <br>
          <div class="form-wrapper">
            <input type="password" placeholder="New Password" name="password" class="form-control" id="txtPassword" required>
            <i class="zmdi zmdi-lock"></i>
          </div>
          <div id="strengthMessage"></div>
          <div class="form-wrapper">
            <input type="password" placeholder="Confirm Password" name="confirm_password" class="form-control" required>
            <i class="zmdi zmdi-lock"></i>
          </div>
					<button>Continue
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
          <br><p>Want to login? <a href="{% url 'login' %}">Click here</a></p>
				</form>
			</div>
		</div>

{% endblock %}
